/*
//Pmod Center
IO_LOC "SIN2"   A10;
IO_PORT "SIN2"   PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "SIN3" E10;
IO_PORT "SIN3" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC "" L11;
//IO_PORT "" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC ""  K5;
//IO_PORT ""  PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "SIN1" A11;
IO_PORT "SIN1" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LATCH"   E11;
IO_PORT "LATCH"   PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED_CLK" K11;
IO_PORT "LED_CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "STROBE_" L5;
IO_PORT "STROBE_" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
*/

IO_LOC "led[0]" A10;
IO_PORT "led[0]" PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[1]" E10;
IO_PORT "led[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[2]" L11;
IO_PORT "led[2]" PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[3]" K5;
IO_PORT "led[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[4]" A11;
IO_PORT "led[4]"   PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[5]" E11;
IO_PORT "led[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[6]" K11;
IO_PORT "led[6]" PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led[7]" L5;
IO_PORT "led[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;


//Pmod USB C side
IO_LOC "SIN2"   G10;
IO_PORT "SIN2"   PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "SIN3" D10;
IO_PORT "SIN3" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC "" B10;
//IO_PORT "" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC ""  C10;
//IO_PORT ""  PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "SIN1" G11;
IO_PORT "SIN1" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LATCH"   D11;
IO_PORT "LATCH"   PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED_CLK" B11;
IO_PORT "LED_CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "STROBE_" C11;
IO_PORT "STROBE_" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;

//Pmod USB A side
IO_LOC "joystick_cs2" G5;
IO_PORT "joystick_cs2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "joystick_mosi2" G8;
IO_PORT "joystick_mosi2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "joystick_clk2" J5;
IO_PORT "joystick_clk2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "joystick_cs" F5;
IO_PORT "joystick_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "joystick_mosi" G7;
IO_PORT "joystick_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "joystick_clk" H5;
IO_PORT "joystick_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "joystick_miso2" H7;
IO_PORT "joystick_miso2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "joystick_miso" H8;
IO_PORT "joystick_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "USER_KEY" H11;
IO_PORT "USER_KEY" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "USER_KEY2" H10;
IO_PORT "USER_KEY2" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
/*
IO_LOC "KEY_LEFT" H11;
IO_PORT "KEY_LEFT" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "KEY_RIGHT" H11;
IO_PORT "KEY_RIGHT" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "KEY_DOWN" H11;
IO_PORT "KEY_DOWN" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "BTN_A" H11;
IO_PORT "BTN_A" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "BTN_B" H11;
IO_PORT "BTN_B" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
*/