IO_LOC "SIN2"   A10;
IO_PORT "SIN2"   PULL_MODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "SIN3" E10;
IO_PORT "SIN3" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC "" L11;
//IO_PORT "" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC ""  K5;
//IO_PORT ""  PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "SIN1" A11;
IO_PORT "SIN1" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LATCH"   E11;
IO_PORT "LATCH"   PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED_CLK" K11;
IO_PORT "LED_CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "STROBE_" L5;
IO_PORT "STROBE_" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "USER_KEY" H11;
IO_PORT "USER_KEY" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "USER_KEY2" H10;
IO_PORT "USER_KEY2" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
/*
IO_LOC "KEY_LEFT" H11;
IO_PORT "KEY_LEFT" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "KEY_RIGHT" H11;
IO_PORT "KEY_RIGHT" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "KEY_DOWN" H11;
IO_PORT "KEY_DOWN" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "BTN_A" H11;
IO_PORT "BTN_A" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "BTN_B" H11;
IO_PORT "BTN_B" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
*/